@import "assets/styles/components/slider.css";
@import "assets/styles/text.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    min-width: 320px;
}

#root {
    height: 100%
}
